/* Application Title Bar Dragging */
.app-drag {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.app-drag-button {
    -webkit-app-region: no-drag;
}

.app-no-drag-container > * {
    -webkit-app-region: no-drag;
}

.disabled {
    pointer-events: none;
}

.gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(23, 23, 23, 0) 0%,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 100%
    );
}
